<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <%= gravatar_for @user %>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
 <% if !(@cart.nil?) %>
 <p id='current-user-cart'>Songs in your current playlist:</p>
 <% @cart.cart_items.each do |item| %>
  <% product = Product.find item.product_id %>
    <tr>
      <%= render 'products/row', product: product %>
    </tr>
<% end %>
<% end %>
<div class='checkout-well'>
  <%= render 'spotify_request/checkout' %>
</div>
<div id="playlist-well">
  <h4>Your Playlists:</h4>
  <%= render 'playlists/user-list' %>
</div>
</div>


