<% provide(:title, @user.name) %>
<div class="row">
  <aside>
    <section class="user-info">
      <%= gravatar_for @user %>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<% if @cart %>
  <p id='current-user-cart'>Songs in your current playlist:</p>
    <% @cart.item_grab.each do |product| %>
        <%= render 'products/row', product: product %>
    <% end %>
<% end %>
<div class='checkout-well'>
  <%= render 'spotify_request/checkout' %>
</div>
  <div id="playlist-well">
    <h4>Your Playlists:</h4>
    <%= render 'playlists/user-list' %>
  </div>
</div>
