<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">
  <div class="col-md-4">
  <thead class="table">
    <tr>Shopping cart:</tr>
  </thead>
  <tbody class="table">
  <% if !(@cart.nil?) %>
    <% @cart = Cart.find_by user_id: @user.id %>
    <%= @cart.cart_items.each do |item| %>
      <tr>
      <%= render 'products/row', remote: true, product: Product.find(item.product_id), cart_item: item  %>
      </tr>
    <% end %>
      <tr>
        <%= render 'spotify_request/checkout' %>
  <% end %>
  </tbody>
  </div>
</div>
