<div class="well">
  <div class="row">
    <ul class="product-row product">
      <% unless product.image.nil? %>
        <li><%= image_tag product.image, size:'128x128' %></li>
      <% end %>
      <li>Song name:<br><%= product.name %></li>
      <li>Artist:<br><%= product.artist %></li>
      <li><%= link_to "Add Cart Item", cart_items_path(product: product.id), method: :post  %>
      <br><% if (cart_item = CartItem.find_by product_id: product.id) %>
        <%=  link_to "Remove Cart Item", cart_item_path(cart_item),
        method: :delete %>
        <% end %></li>
      </ul>
    </div>
  </div>
</div>
