<div class="well">
  <div class="row">
    <ul class="product-row product">
      <% unless product.image.nil? %>
        <li><%= image_tag product.image, size:'128x128' %></li>
      <% end %>
      <li>Song name:<br>
        <% if product.name.size > 28 -%>
          <% product.name.insert(13, '-') %>
        <% end -%>
        <%= product.name %></li>
      <li>Artist:<br><%= product.artist %></li>
        <li class='cart-buttons-li'><%= link_to "Add Cart Item", cart_items_path(product: product.id),
        class: 'btn-primary cart-button', method: :post  %>
        <% if (@user) && (cart_item = CartItem.find_by cart_id: @cart.id) %>
          <%=  link_to "Remove Cart Item", cart_item_path(cart_item),
          class: 'btn-primary cart-button', method: :delete %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
