<div class="well">
  <div class="row">
    <div class="col-xs-8">
      <h4><%= product.name %></h4>
    </div>
    <div class="col-xs-4">
      <%= form_for(cart_item, remote:true) do |f| %>
      <%= f.hidden_field :product_id, value: product.id %>
      <%= f.hidden_field :cart_id, value: @cart.id %>
      <% end %>
      <%= button_to "Add Cart Item", cart_item: {cart_id: @cart.id, product_id: product.id}, controller: :cart_items, action: :create, method: :create  %>
      <%=  button_to "Remove Cart Item", cart_item: {cart_id: @cart.id, product_id: product.id}, controller: :cart_items, action: :destroy,
      method: :delete %>
    </div>
  </div>
</div>
