<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render file: 'layouts/_header' %>
    <%= image_tag "mixif.png", size: '200x200', class: 'logo' %>

    <%= render 'spotify_request/search' %>
    <% if flash[:danger].present? %>
      <p class="flash-danger"><%= flash.now[:danger] %></p>
    <% end %>
    <% if flash[:notice].present? %>
      <p class="flash-notice"><%= flash.now[:notice] %></p>
    <% end %>
    <%= yield %>

  </body>
</html>
