<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title>Nu-Mixif - Your songs, your playlists, your music</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render file: 'layouts/_header' %>

    <%= render 'spotify_request/search' %>
    <% if flash.any? { |msg| !(msg.nil?)} %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    <% end %>
    <%= yield %>

  </body>
</html>
