<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title>Nu-Mixif - Your songs, your playlists, your music</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= image_tag "mixif.png", size: '400x100', class: 'logo' %>
    <%= render file: 'layouts/_header' %>
    <div class='search-div'>
      <%= render 'spotify_request/search' -%>
    </div>
    <% if flash[:danger].present? -%>
      <section id='flash-section'>
        <p class="flash-danger"><%= flash.now[:danger] -%></p>
      </section>
      <% end -%>
      <% if flash[:notice].present? -%>
      <section id='flash-section'>
        <p class="flash-notice"><%= flash.now[:notice] -%></p>
      </section>
      <% end -%>
    <%= yield %>

  </body>
</html>
