<!DOCTYPE html>
<html>
  <head>
    <title>Nu-miXif</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render file: 'layouts/_header' %>
    <div id='logo'>
      <h2>nu-miXif</h2>
    </div>
    <%= render 'spotify_request/search' %>
    <% if flash[:danger].present? %>
      <p class="flash-danger"><%= flash.now[:danger] %></p>
    <% end %>
    <% if flash[:notice].present? %>
      <p class="flash-notice"><%= flash.now[:notice] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
