<!DOCTYPE html>
<html>
  <head>
    <title>Rainforest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render file: 'layouts/_header' %>
    <%= render 'spotify_request/search' %>
    <% if flash[:error].present? %>
      <p class="flash-error"><%= flash[:error] %></p>
    <% end %>
    <% if flash[:notice].present? %>
      <p class="flash-notice"><%= flash[:notice] %></p>
    <% end %>
    <% if @current_user.nil? %>
      <%  flash[:error] = 'You must be signed in to do that' %>
      <%= render 'sessions/login' %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
